<template>
    <hsc-window-style-metal>
        <hsc-window
            :isOpen.sync="isOpen"
            :resizable="true"
            :isScrollable="true"
            :minWidth="150"
            :minHeight="200"
            :maxWidth="250"
            :maxHeight="600"
            title="Library"
        >
            <CharacterList v-bind:characters="characters" />
            <Button v-on:click="removeSelected">Remove Selected</Button>
            <Button v-on:click="$refs.uploader.click()">Add Character</Button>
            <input
                ref="uploader"
                style="display: none;"
                type="file"
                name="Upload Character Token"
                @change="addCharacter"
                accept="image/*"
            />
        </hsc-window>
    </hsc-window-style-metal>
</template>

<script lang="ts">
import CharacterList from './CharacterList.vue';
import { mapActions, mapGetters, mapState } from 'vuex';

export default {
    components: {
        CharacterList: CharacterList,
    },
    data: function() {
        return {
            isOpen: '',
        };
    },
    computed: {
        ...mapGetters('gamestate/', {
            selectedTokenId: 'selectedTokenId',
        }),
        ...mapState('live', {
            director: 'director',
        }),
        ...mapState('library', {
            characters: 'characters',
        }),
    },
    created: function() {
        this.getCharacters();
    },
    methods: {
        removeSelected: function() {
            const selectedCharacterId = this.selectedTokenId;
            console.log(`character/tokenID: ${selectedCharacterId}`);
            this.director.removeCharacter(selectedCharacterId);
        },
        ...mapActions('library', {
            addCharacter: 'addCharacter',
            getCharacters: 'getCharacters',
        }),
    },
};
</script>
