<template>
    <main>
        <h1>Campaigns</h1>
        <div>
            <input v-model="searchQuery" placeholder="Search campaigns" />
            <router-link to="/create" tag="button">Create New Campaign</router-link>
        </div>
        <section v-if="!error">
            <ul>
                <li v-for="campaign in filteredCampaigns" :key="campaign.id">
                    <div>
                        <h2>{{ campaign.name }}</h2>
                        <em>{{ campaign.owner }}</em>
                        <svg viewBox="0 0 100 100" height="28" width="28" style="user-select: none;">
                            <title>{{ campaign.players.length }} players</title>
                            <circle cx="50" cy="36" r="36" fill="currentColor" />
                            <path d="M 0 100 L 18 74 L 26 68 H 74 L 82 74 L 100 100 Z" fill="currentColor" />
                            <text fill="white" x="50" y="85" font-size="70" text-anchor="middle">
                                {{ campaign.players.length }}
                            </text>
                        </svg>
                        <button v-if="campaign != focusedCampaign" @click="focusCampaign(campaign)">Details</button>
                        <button v-if="campaign == focusedCampaign" @click="unfocusCampaign">Hide</button>
                        <router-link
                            :to="{ name: 'live-play', params: { sessionId: campaign.id, sceneId: 'debug' } }"
                            tag="button"
                            >Play</router-link
                        >
                    </div>
                    <section v-if="campaign == focusedCampaign">
                        <p>{{ campaign.description }}</p>
                        <ul>
                            <li v-for="player in campaign.players" :key="player.id">
                                {{ player.name }}
                            </li>
                        </ul>
                        <span v-if="oidcUser && oidcUser.name == campaign.owner">
                            <a :href="`/invite/${campaign.id}`">Invite Link</a>
                            <router-link :to="`/edit/${campaign.id}`" tag="button">Edit</router-link>
                            <button @click="deleteCampaign(campaign)">Delete</button>
                        </span>
                    </section>
                </li>
            </ul>
        </section>
        <section v-if="error">
            {{ error }}
        </section>
    </main>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
export default {
    data() {
        return {
            campaigns: [],
            searchQuery: '',
            focusedCampaign: null,
            error: '',
        };
    },
    computed: {
        ...mapGetters(['oidcUser']),
        filteredCampaigns: function() {
            return this.campaigns.filter(c => c.name.toLowerCase().includes(this.searchQuery.toLowerCase()));
        },
    },
    beforeRouteEnter(to, from, next) {
        axios
            .get(`/api/campaigns`)
            .then(response => {
                next(vm => vm.setData(response.data));
            })
            .catch(error => {
                next(vm => vm.setError(error));
            });
    },
    methods: {
        setData(data) {
            this.campaigns = data;
        },
        setError(error) {
            this.error = 'Error loading campaign list.';
            console.log(error);
        },
        focusCampaign(campaign) {
            this.focusedCampaign = campaign;
        },
        unfocusCampaign() {
            this.focusedCampaign = null;
        },
        refresh() {
            axios
                .get(`/api/campaigns`)
                .then(response => {
                    this.setData(response.data);
                })
                .catch(error => {
                    this.setError(error);
                });
        },
        deleteCampaign(campaign) {
            axios.delete(`/api/campaigns/${campaign.id}`).then(() => this.refresh());
        },
    },
};
</script>

<style lang="scss" scoped>
main {
    padding: 2rem;
}

input {
    margin-right: 1rem;
}
</style>
