<template>
    <header>
        <router-link to="/">
            <img src="/logo.svg" class="logo" />
        </router-link>
        <div v-if="oidcUser" class="user">
            Signed in as: <strong>{{ oidcUser.name }}</strong>
            <button @click="signOutOidc">Sign out</button>
        </div>
    </header>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    computed: {
        ...mapGetters(['oidcUser']),
    },
    methods: {
        ...mapActions(['signOutOidc']),
    },
};
</script>

<style lang="scss" scoped>
header {
    background-color: #002c38;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    display: block;
    width: 225px;
}

.user {
    display: flex;
    align-items: center;
    color: white;
    button {
        margin-left: 1rem;
    }
}
</style>
