body {
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #d3dbde;
    color: #002c38;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya SC', serif;
    font-weight: 800;
  }

  input, textarea {
    padding: .5rem 1rem;

    border: 0;

    &:focus {
        outline: solid 2px #1670b1;
        outline-offset: 2px;
        box-shadow: inset 1px 1px 0 #1670b1,inset -1px -1px 0 #1670b1;
    }
  }

button {
  background-color: #1670b1;
  color: #edf1f2;
  transition: background-color .3s cubic-bezier(0,1.02,.48,.98);
  padding: .5rem 1rem;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: solid 2px #1670b1;
    outline-offset: 2px;
  }
}