﻿<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:800|Alegreya+Sans400,700&display=swap" rel="stylesheet">
    <title>Mythic Table</title>
</head>
<body>
    <noscript>
        <strong>JavaScript is required for this to work. Please enable it and try again.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>
</html>
